<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://blobstoragetriggerapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/0a55ad2e-7e62-4242-9e61-38bd4af87574/resourceGroups/innovation-rg/providers/Microsoft.Web/sites/BlobStorageTriggerApp</ResourceId>
    <UserName>$BlobStorageTriggerApp</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://blobstoragetriggerapp.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>